$textXSmall: calc(1.25rem + (100vw / 50));
$textSmall: calc(1.8rem + (100vw / 50));
$textMedium: calc(2.25rem + (100vw / 50));
$textLarge: calc(2.8rem + (100vw / 50));
$textXLarge: calc(4rem + (100vw / 50));